     <div style="width:100%;">
          <div style="float:left"><img alt="logo here" style="height:50px;width:50px"></div>
          <div style="float:right;width:150px;height:auto;">
             AKHA Black Economic  Empower Trust Building 19 Harrowdeno office
              AKHA Black Economic  Empower Trust Building 19 Harrowdeno office
              AKHA Black Economic  Empower Trust Building 19 Harrowdeno office
          </div>
          <div style="display:block;text-align:center;width:80%;margin:0px auto;">
              Board Meeting of the AKHA BEE Trust to be held at the office of Accenture south 
              Africa 
          </div>
          <div  >
        <table style="width:100%">
  <tr>
    <th></th>
    
  </tr>
  <tr style=""background:#f0a139>

    <td olspan="2">Agenda</td>
    <td>Purpose</td> 
    <td>Responsible Persone</td>
  </tr>
  <tr>
    <td>1.</td>
    <td>Welcome</td> 
    <td>report</td>
	<td>Chairman</td>
  </tr>
</table>


          </div>

    </div> 