﻿<div>
    <!--for page controller-->
    <!--sub menu bar start-->

    <div class="sub-navbar-one">
        <a href="#/TimeSheet/AddTimeSheet" class="sub-navbar-list underline ">Add </a><!--active class add to change btn color -->
        <a href="#/TimeSheet/ManageTimeSheet" class="sub-navbar-list underline">Manage</a>
        <a href="#/TimeSheet/ForApproval" class="sub-navbar-list underline">For Approval</a>
        <a href="#/TimeSheet/Approved" class="sub-navbar-list underline active"> Approved</a>
    </div>
    <div class="approved-timesheet-wrap">

    </div>
</div>
