
.manage-project-wrap{
    
    width: calc(100vw - 40px);
    height: calc(100vh - 293px);
    left: 20px;
     
    background-color: transparent;
    border-radius: 4px;
}
.manage-project-wrap.list-view{
    height: calc(100vh - 313px);
    background-color: #fff;
}
.manage-project-wrap.list-view:before
{
    content: "";
    position: fixed;
    width: calc(100vw - 40px);
    left: 20px;
    top: 293px;
    z-index: 1;
    right: 0;
    height: 40px;
    border-radius: 4px;
    background: -webkit-linear-gradient(bottom, rgba(254,254,254,0), #fefefe);
    background: linear-gradient(to top, rgba(254,254,254,0), #fefefe);
}
.manage-project-wrap.list-view:after
{
    content: "";
    position: fixed;
    width: calc(100vw - 40px);
    left: 20px;
    bottom: 20px;
    right: 0;
    height: 40px;
    border-radius: 4px;
    background: -webkit-linear-gradient(top, rgba(254, 254, 254, 0), #fefefe);
    background: linear-gradient(to bottom, rgba(254, 254, 254, 0), #fefefe);
}
.list-view-wrap{
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 32px;
    padding-bottom: 0;
    display: none;
}
.list-view-header{
    width: 100%;
}
.list-view-ul{
    position: relative;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    padding-top: 40px;
    list-style: none;
    border-bottom: 1px solid #cacaca;
}
.list-view-header .list-view-ul{
    border:none;
    padding: 0;
}
.list-view-ul li{
    display: inline-block;
    float: left;
    margin-left: 32px;
}
.list-view-ul li:nth-child(1){
    width: calc(12% - 32px);
}
.list-view-ul li:nth-child(2){
    width: calc(20% - 32px);
}
.list-view-ul li:nth-child(3){
    width: calc(15% - 32px);
}
.list-view-ul li:nth-child(4){
    width: calc(12% - 32px);
}
.list-view-ul li:nth-child(5){
    width: calc(10% - 32px);
}
.list-view-ul li:nth-child(6){
    width: calc(12% - 32px);
}
.list-view-ul li:nth-child(7){
    width: calc(19% - 32px);
    
}
.list-view-header .list-view-ul li p{
    font-size: 16px;
    color: #666;
    position: relative;
    display: inline-block;
}

.list-view-header .list-view-ul li p:after{
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    top: 105%;
    left: 0;
    background-color: #cacaca;
}

.list-view-content{
    width: 100%;
}
.list-view-content .list-view-ul li p{
    font-size: 14px;
    color: #666;
    position: relative;
    display: inline-block;
}
.list-view-content .list-view-ul li .following-status{
    width:23px;
    height: 23px;
    background-image: url(../img/following.svg);
    -webkit-background-size: cover;
    background-size: cover;
    float: left;
    margin-left: -40px;
    cursor: pointer;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.list-view-content .list-view-ul li .following-status:hover{
    background-image: url(../img/following-red.svg);
}
.list-view-content .list-view-ul .list-meeting-name p,
.list-view-content .list-view-ul .list-project-name p{
    color:#f1a63b;
}
.list-view-content .list-view-ul li .final,
.list-view-content .list-view-ul li .draft{
    width : 12px;
    height: 12px;
    border-radius: 50%;
    float: left;
    background-color: #82bc3f;
    margin-right: 10px;
    margin-top: 4px;
}
.list-view-content .list-view-ul li .draft{
    background-color: #b7b7b7;
}