﻿
@{
    Layout = null;
}

<script type="text/ng-template" id="viewResourceContent.html">
    <style>
        .modal-dialog {
            left: 0 !important;
        }
    </style>

    <div class="modal-header modal-header-bg">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h3 class="modal-title">Resources</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div style="max-height:224px; overflow-y: scroll;">
                    <table class="table table-bordered table-responsive table-striped data-table">
                        <thead style="background-color:#e9e9e9">
                            <tr>
                                <th class="col-md-3">Employee Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="resource in selectedclients|orderBy:'first_name'">
                                <td>{{resource.first_name |limitTo: 30}}{{resource.first_name.length < 30 ? '' : '...'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
        <div class="modal-footer">
            @*<button class="btn btn-primary" ng-click="InsertProjectResources()">Save</button>*@
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
   </div>
</script>

