/* home page   */
/*teja nav css start*/

.meetingclass .ui-select-bootstrap .ui-select-match-text > span {
    display: block;
    max-width: 318px !important;
    text-overflow: ellipsis;
    overflow: hidden;
}
@media(min-width:768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }

   .scroll-box {
        height: auto;
        overflow: hidden;
    }

   .border22 {
        border-bottom: 1px solid #eeeeee;
    }

   .panel-group {
        margin-bottom: 0px !important;
    }

   .main-menu:hover,
    .main-menu:focus {
        background: #1b69a2 !important;
        color: white;
    }

    .panel-collapse a {
        text-decoration: none;
    }

    .panel-collapse .panel-body {
        padding: 11px !important;
    }

    .main-menu1:hover,
    .main-menu1:focus {
        background: #1b69a2 !important;
        color: white;
    }

    .pd10 {
        box-shadow: 0px 0px 0px #888888 !important;
    }

    .home {
        background-image: url('Images/home-blue.png');
        background-repeat: no-repeat;
        display: block;
        height: 20px;
        margin: auto;
    }

    .main-menu:focus .home,
    .main-menu:hover .home {
        background-image: url('Images/home.png');
    }

    .project {
        background-image: url('Images/project-blue.png');
        background-repeat: no-repeat;
        display: block;
        height: 20px;
        margin: auto;
    }

    .main-menu:focus .project,
    .main-menu:hover .project {
        background-image: url('Images/project.png');
    }

    .meeting {
        background-image: url('Images/meeting-blue.png');
        background-repeat: no-repeat;
        display: block;
        height: 20px;
        margin: auto;
    }

    .main-menu:focus .meeting,
    .main-menu:hover .meeting {
        background-image: url('Images/meeting.png');
    }

    .myactivities {
        background-image: url('Images/activity-blue.png');
        background-repeat: no-repeat;
        display: block;
        height: 20px;
        margin: auto;
    }

    .main-menu:focus .myactivities,
    .main-menu:hover .myactivities {
        background-image: url('Images/activity.png');
    }


    .myteamvertical {
        background-image: url('Images/team-blue.png');
        background-repeat: no-repeat;
        display: block;
        height: 20px;
        margin: auto;
    }

    .main-menu:focus .myteamvertical,
    .main-menu:hover .myteamvertical {
        background-image: url('Images/team.png');
    }

    .seeting {
        background-image: url('Images/settings.png');
        background-repeat: no-repeat;
        display: block;
        height: 20px;
        margin: auto;
    }

    .main-menu:focus .seeting,
    .main-menu:hover .seeting {
        background-image: url('Images/settings-white.png');
    }

    .admin {
        background-image: url('Images/emp-blue.png');
        background-repeat: no-repeat;
        display: block;
        height: 20px;
        margin: auto;
    }

    .main-menu:focus .admin,
    .main-menu:hover .admin {
        background-image: url('Images/emp.png');
    }



    .main-menu:hover .col-xs-10,
    .main-menu:focus .col-xs-10 {
        color: white;
    }

    /*.panel-default > .panel-heading {
        padding: 10px;
    }

    .navbar-header {
        float: left;
    }

    .panel-group .panel + .panel {
        margin-top: 0px !important;
    }*/


    .panel {
        border: none;
    }

    .side-nav {
        position: fixed;
        top: 100px;
        width: 226px;
        margin-left: 2px;
        border: 1px solid #dddddd;
        background-color: #fff;
    }

        /*.side-nav a {
            box-shadow: 0px 1px 2px yellow;
        }*/

    /*.panel-group .panel {
        border-radius: 0px !important;
        box-shadow: 0px 2px 4px #888888;
    }

    .panel-group a {
        color: black;
    }

    .brt {
        border-top: none !important;
    }*/

    /*.collapse .panel-body {
        background: #f7f7f7;
        font-weight: bold;
        padding: 14px;
        border: 1px solid #ddd;
    }*/
    .panel-collapse>.panel-body{
    padding:0px !important;
}
.side-nav a{
    color:#000 !important;
    font-weight: bold !important;
}
.navbarmain>.panel-group{
        margin-bottom: 0px !important;

}
}

/*teja nav css end*/
.top-btn{
padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #c0bdbd;
    border-radius: 5px;
    margin-right:10px;

}
.table-bordered{
    border:1px solid #000 !important;
}
.table-bordered>tbody>tr>th
{
    border:1px solid #7e7c7c !important;
}
.table-bordered>tbody>tr>td
{
    border:1px solid #7e7c7c !important;
}
.dark{
    background-color: #ffe4b5;
}
.lite{
    background-color: rgba(255, 189, 51, 0.51);
}

.dark1{
    background-color: #edffb5;
}
.lite1{
    padding:4px;
    background-color: rgba(237,255,181,0.6);
}

.data-table{
    border:1px solid #ddd !important;
}

.data-table>thead>tr>th
{
    border:1px solid #ddd !important;
}
.data-table>tbody>tr>td
{
    border:1px solid #ddd !important;
}



/* imp-info */


.row.vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}

/* create meeting */
.btn-default1 {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#FFFFFF)) !important;
}
.b-shadow{
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.075);
}
.border1{
         border: 1px solid #1b69a2;
}
.border5{
    border:1px solid #ddd;
}
.border2{
    border-bottom:1px solid #ddd;
    border-right:1px solid #ddd;
    border-left:1px solid #ddd;
}
.mg1{
    margin-top:5px !important;
}
.mg2{
    margin-bottom:5px !important;
}
.pd-bottom{
    padding-bottom: 10px;
}
.pd-row{
    padding-left:15px;
    padding-right:15px;
}
.pd-right{
    padding-right:10px;
}
.pd-form{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.pd0{
    padding:0px !important;
}
.pd-left0{
    padding-left:0px !important;
}
.pd-left1{
    padding-left:10px;
}
.mg-img{
    margin-left:20px;
    margin-right:20px;
    margin-bottom:10px;
}
.pd-sl{
    padding-top:50px;
}
.model-height{
    height:500px;
}
@media(max-width:768px) {
    .mg-img {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
    .pd-sl{
    padding-top:10px;
}
    .model-height{
    height:800px;
}
}



.pd-cb {
    padding-top: 8px !important;
}
#bg {
    background-image: url('Images/attach.png');
    background-repeat: no-repeat;
    height: 20px;
    max-width: 20px;
}
.btn-go {
    background-color: #ddd;
    outline: none;
    font-size: 9px;
    height: auto;
    font-weight: normal;
    text-transform: uppercase;
    border-color: #ddd;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.right {
    width: 40px;
    /*background-image: url('Images/right-arrow.png');
   background-repeat: no-repeat;*/
    height: 40px;
}
.left {
    width:40px;
    height:40px;
 /*background-image: url('Images/left-arrow.png');*/
 background-repeat: no-repeat;
}


