﻿.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.small-pd{
    padding:5px;
}

.panel-login>.panel-heading
{
    padding-top:5px !important;
    padding-bottom:5px !important;
}
.panel-login>.panel-body 
{
    padding-left:15px !important;
    padding-top:5px !important;
    padding-bottom:5px !important;
}


.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    margin-top:80px;

}
.panel-login>.panel-heading label{
	color: #000;
	font-size: 18px;
    padding-top:8px;
    font-weight:600;
    
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: bold;
	text-transform: uppercase;
	
}
.btn-login:hover,
.btn-login:focus {
	color:#fff !important;
	background-color: #1b69a2 !important;
	
}
.btn-bg:hover,
.btn-bg:focus
{
    color:#fff !important ;
	background-color: #1b69a2 !important;
	border-color: #1b69a2 !important;
    border-color: #564f4f;

}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}


