btn_ /*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.*/
/* global styles */
.table > tbody > tr > td,
 .table > tbody > tr > th,
 .table > tfoot > tr > td,
 .table > tfoot > tr > th,
 .table > thead > tr > td,
 .table > thead > tr > th {
    padding: 6px;
}
.dashbody>td{
    padding:4px !important;
}
.padding-no{
    padding:0px !important;
}
.tooltip1 {
    transform: none;
   
}
.mgt15{
    margin-top:15px;
}
.box-border{
    border:1px solid lightgray
}

.tooltip1:hover > .tooltip-text, .tooltip1:hover > .wrapper {
    pointer-events: auto;
    opacity: 1.0;
}

.tooltip1 > .tooltip-text, .tooltip1 >.wrapper {
    display: block;
    position: absolute;
    z-index: 6000;
    overflow: visible;
    padding: 5px 8px;
    margin-top: 10px;
    line-height: 16px;
    border-radius: 4px;
    text-align: left;
    color: #fff;
    border:1px solid #4094d0;
    background: #fff;
    pointer-events: none;
    opacity: 0.0;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

/* Arrow */
.tooltip1 > .tooltip-text:before, .tooltip1 > .wrapper:before  {
    display: inline;
    top: -5px;}

.tooltip1 > .tooltip-text, .tooltip1 >.wrapper{
	overflow:scroll !important;

	max-height:200px;
}


.meeting-btn{
    background-color:#848080;
    color:white !important;
        border-radius: 4px;
}
.start-width{
    width:95px;
}
.margin-right{
    margin-right:10px !important;
}
.smsg-top{
    margin-top:10px;
}
.meeting-btn a{
    color:white !important;
}
.col-width1{
    width:267px !important;
}
.alertify .ajs-header{
    font-size:20px !important;
}
.alertify .ajs-footer .ajs-buttons.ajs-primary{
    text-align:center !important;
}
.otherUsers{
        color: #7d7f82;
    text-decoration: none;
    cursor: no-drop;
}
.border6{
    border:1px solid #fff !important;
    border-radius:5px;
    margin-right:5px;
}
.resource1{
    background-color:#1b69a2
}
.no-pd{
    padding:0px !important;
}
.pd-top1{
    padding-top:10px !important;
}
.modal-footer-pd{
    padding:10px;
}
.meeting-btn:hover{
    background-color:#ff8500;
    color:white !important;
        border-radius: 4px;
}
body {
    margin-top: 110px;
    background-color: #fff;
}
.pdlf{
    padding-left:15px !important;
    padding-right:15px !important;
}
.col-width{
    max-width:230px !important;
}

.panel_bg{
    background-color: rgba(132, 132, 132, 0.75) !important;
} 
.panel_bg1{
    background-color:#1b69a2 !important;
}
.nav-pills>li.active>a
 {
    color: #fff !important;
    background-color: #ff8500 !important;
    text-decoration-color:none !important;
}
.dash-pill.nav>li>a{
        padding: 8px 2px !important;
}
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover{
    text-decoration: none;
    background-color: #1b69a2;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: none !important;
}
.tab-border{
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-radius:5px;
}
.popup-head{
    font-size:20px;
    font-weight:bold;
}
.btn-bg{
    background-color:#ff8500 !important;
}
.btn_bg5,
.btn_bg5{
  color:#fff !important ;
	background-color: #ff8500 !important;
	border-color: #b5b1ac !important;
}
.btn_bg5:hover,
.btn_bg5:focus{
      background-color:#1b69a2 !important;
}
.btn_bg1{
        color:#fff !important ;
	background-color: #1b69a2 !important;
	border-color: #1b69a2 !important;
  
}
.btn_bg2{
    background-color:#288f0e !important;
}
.btn_bg2:hover,
.btn_bg2:focus{
    color:#fff !important ;
	background-color: #ff8500 !important;
	border-color: #ff8500 !important;
}
.btn_bg3{
    background-color:#288f0e !important;
}
.reminder-tab>.active>a {
    color: #fff !important;
    background-color: #1b69a2 !important;
    text-decoration-color: none !important;
}
.btn_bg3:hover{
    /*	background-color: #ff8500 !important;*/
}

.btn_bg3>.active:hover>a{
    	background-color: #ff8500 !important;
}
.btn_bg3:hover,
.btn_bg3:focus{
    color:#fff !important ;
	background-color: #ff8500 !important;
	
}
.reminder-tab>.active>a:hover{
      color:#fff !important ;
	background-color: #ff8500 !important;
}
.border-blue{
    border:1px;
    border-color:#1b69a2;
    
}
.btn_bg1:hover,
.btn_bg1:focus{
    color:#fff !important ;
	background-color: #ff8500 !important;
	border-color: #ff8500 !important;
}
.no_hover.nav>li>a:focus, .no_hover.nav>li>a:hover {
    color:#1b69a2;
    cursor:pointer;
    background-color: rgba(255, 255, 255, 0) !important;
}

.border3{
    border-bottom:1px solid;
    border-top:1px solid;
    border-left:1px solid;
    border-right:1px solid;
    border-color:#ddd;
}
.red-star{
    color:red;
    font-size:18px;
}
.first-half {
    float: left;
    width: 50%;
}
.second-half {
    float: right;
    width: 50%;
}
.success1{
    color:green;
    font-weight:bold;
}
.mom-head{
    display:inline-block;
}
.mom-head label{
    display:block;
}
.pd-logo{
    padding-top:10px;
    padding-left:10px;
}
/*.container{
    padding-top: 20px !important;
}*/
.pd-left{
    padding-left: 40px;
}
.white-font{
    color:#fff !important;
}
.pd-top{
    padding-top: 40px;
}
.pd-tr{
    padding-top:10px !important;
    padding-right:10px !important;
}


@media(min-width:768px) {
    body {
        margin-top: 60px;
    }
}

#wrapper {
    padding-left: 0;
}





.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

   
}

.btn-style{
    background-color: #287ebd;
}
.footer {
    position:absolute;
    margin-top:25px;
    margin-bottom: 0px;
    background: linear-gradient(to bottom,rgba(0,0,0,.30),rgba(0,0,0,.20) 3px,transparent);
    left: 0px;
    right:0px;
    width: 100%;
    height: 45px;
    color:#000;
}
.footer>.foot-text{
    color:#000 !important;
    font-size:13px;
    padding-top:20px;
    font-weight:bold;
}

/* Top Navigation */

.navbar
{
    background-color: #1b69a2;
    border-color: #1b69a2;
    min-height:80px !important;
}



.navbar-brand{
    font-size:25px;
    line-height: 26px;
    color:#fff;
	height:65px !important;
	padding-left:5px !important;
    padding-top:10px !important;
}
.navbar-brand>label{
    padding-left: 10px;
    font-size: 26px;
}
.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */




@media(min-width:768px) {

/*.scroll-box {
  height:500px;
  overflow: hidden;
}*/
.scroll-box:hover {

 overflow:auto;
}


.child-font{
    font-size:13px;
    font-weight:600;
}
.pd-left40{
    padding-right:40px !important;
}
    
#page-wrapper {
    margin-top: 80px;
	padding-top:20px !important;
    width: 100%;
   
}
	
 .navbar-right>li>a
    {
    color:white !important;
    padding: 2px !important;
    margin-top: 55px;
    margin-right: 25px;
    
}
.navbar-right> li > a:hover,
.navbar-right > li.dropdown.active.open > a, 
.navbar-right> li.dropdown.active.open > ul.dropdown-menu a:hover,
.navbar-right> li.dropdown.open > a, 
.navbar-right> li.dropdown.open > ul.dropdown-menu a:hover
{
        
        font-weight:bold !important;
        background-color:#035090 !important;
    }
.alert_red{
    color:red;
   font-weight:bold;
   font-size:12px;
}  

.data_alert{

    color:blue;
   font-weight:bold;
   font-size:18px;
 
} 


    
	/*.nav-bg{
	background-color: #1b69a2 !important;
}*/
    /*.side-nav {
        position: fixed;
        top:100px;
        width: 225px;
        margin-left: 2px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #fff;
        border-left:1px solid;
        border-left-color: #ddd;
        
        padding-bottom: 2px;
    }*/
    /*.border-top{
        border-top: 1px solid;
        border-top-color: #ddd;
    }
    .side-nav>li>a {
        width: 220px;
        height: 50px;
		box-shadow: 0px 1px 2px #888888;
        font-size: 16px;
        font-weight: bold;
    }*/

    /*.side-nav li a:hover,
    .side-nav li a:focus,
    .side-nav li a:active {
        outline:inherit;
        background-color: #1b69a2 !important;
    }*/
}

.pd-activity{
    padding-top:135px;
    padding-left:0px;
}
.pd-task{
    padding-top:15px;
    padding-left:40px;
}


.mg0{
    margin:0px !important;
}
.mg3{
    margin-bottom:15px !important;
}
.text-danger {
    color: #a94442 !important;
}

/*.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #000;
}
.side-nav>li>a>img{
    padding-right: 5px;
}

.side-nav>li>ul>li>a:hover {
    color: #000;
}*/

.user {
    background-image: url('Images/user-blue.png');
   
    background-repeat: no-repeat;
    display: block;
    height: 20px;
}
.user:hover,
.user:focus {
    background-image: url('Images/user.png');
   
    background-repeat: no-repeat;
    display: block;
    height: 20px;
}


.home{
    background-image: url('Images/home-blue.png');
    background-repeat:no-repeat;
    display: block;
    height:20px;
}
.side1:hover .home
{
    background-image: url('Images/home.png');
    background-repeat:no-repeat;
    display: block;
    height:20px;
}
.ceo{
     border :solid #3179B7 1px;
                                     background-color :#5f95c6;
                                     color: #ccecff;
                                     padding:5px;
                                     display :inline-block;
                                    width:150px;
                                    margin-bottom:15px;
}
.emp{
    border :solid #3179B7 1px;
                                     margin-bottom:15px;
                                     color:black;
                                     padding:5px;
                                     display :inline-block;
                                    width:150px;
}
.project{
    background-image: url('Images/project-blue.png');
    background-repeat:no-repeat;
    display: block;
    height:20px;
}
.side2:hover .project,
.side2:active .project,
.side2:focus .project
{
    background-image: url('Images/project.png');
    background-repeat:no-repeat;
    display: block;
    height:20px;
}

.meeting{
    background-image: url('Images/meeting-blue.png');
    background-repeat:no-repeat;
    display: block;
    height:25px;
}
.side3:hover .meeting{
    background-image: url('Images/meeting.png');
    background-repeat:no-repeat;
    display: block;
    height:25px;
}
.activity{
    background-image: url('Images/activity-blue.png');
    background-repeat:no-repeat;
    display: block;
    height:20px;
}
.side4:hover .activity{
    background-image: url('Images/activity.png');
    background-repeat:no-repeat;
    display: block;
    height:20px;
}
.team{
    background-image: url('Images/team-blue.png');
    background-repeat:no-repeat;
    display: block;
    height:20px;
}
.side5:hover .team{
    background-image: url('Images/team.png');
    background-repeat:no-repeat;
    display: block;
    height:20px;
}
.notifications {
    background-image: url('Images/notifications.png');
    background-repeat: no-repeat;
    display: block;
    height: 20px;
}
.side6:hover .notifications {
    background-image: url('Images/notifications-white.png');
    background-repeat: no-repeat;
    display: block;
    height: 20px;
}
.settings {
    background-image: url('Images/settings.png');
    background-repeat: no-repeat;
    display: block;
    height: 20px;
}
.side7:hover .settings {
    background-image: url('Images/settings-white.png');
    background-repeat: no-repeat;
    display: block;
    height: 20px;
}
.employee{
    background-image: url('Images/emp-blue.png');
    background-repeat:no-repeat;
    display: block;
    height:20px;
}
.side8:hover .employee,
.side8:active .employee
{
    background-image: url('Images/emp.png');
    background-repeat:no-repeat;
    display: block;
    height:20px;
}
.task-template{
    background-image: url('Images/task-template-blue.png');
    background-repeat:no-repeat;
    display: block;
    height:20px;
}
.logout{
    background-image: url('Images/logout-blue.png');
    background-repeat:no-repeat;
    display: block;
    height:20px;
}

/*.side-nav a:hover,.side-nav a:focus,.side-nav a:active {
    color: #fff !important;
}*/

/* for small screen */


.child-font{
    font-size:13px;
    font-weight:600;
}


.col-xs-offset-1 {
    margin-left: 8.33333333%;
}


@media(max-width:768px)
{
 .pd-reset{
     padding-top:6px;
 }
.pd-logo{
    padding-top:10px;
    padding-left:5px;
}
.navbar-brand > label {
        padding-left: 0px;
        font-size: 20px;
    }
 .pd-smtop{
    padding-top:10px !important;

}
    
#page-wrapper {
    margin-top: 110px;
	padding-top:135px;
    width: 100%;
   
}
	
	.nav-bg{
	background-color: #287ebd !important;
}
.navbar-right>li>a
    {
    color:white !important;
    }
    .navbar-right>li>a:hover{
        color: #287ebd !important;
    }
 .navbar-collapse
    {
        background-color: #f5f5f5 !important;
    }

	
   .user{
    background-image: url('Images/user-blue.png');
    background-repeat:no-repeat;
    display: block;
    height:20px;
}

.home{
    background-image: url('Images/home-blue.png');
    background-repeat:no-repeat;
    display: block;
    height:20px;
}

.project{
    background-image: url('Images/project-blue.png');
    background-repeat:no-repeat;

    display: block;
    height:20px;
}


.meeting{
    background-image: url('Images/meeting-blue.png');
    background-repeat:no-repeat;
    display: block;
    height:25px;
}
.activity{
    background-image: url('Images/activity-blue.png');
    background-repeat:no-repeat;
    display: block;
    height:20px;
}
.team{
    background-image: url('Images/team-blue.png');
    background-repeat:no-repeat;
    display: block;
    height:20px;
}
.employee{
    background-image: url('Images/emp-blue.png');
    background-repeat:no-repeat;
    display: block;
    height:20px;
}
.menu-labell{
    font-size:14px;
}
.task-template{
    background-image: url('Images/task-template-blue.png');
    background-repeat:no-repeat;
    display: block;
    height:20px;
}
.logout{
    background-image: url('Images/logout-blue.png');
    background-repeat:no-repeat;
    display: block;
    height:20px;
}

.side-nav a{
    color:#000 !important;
}

.side-nav a:hover{
    color: #287ebd !important;
}
   .side-nav li a:hover,
    .side-nav li a:focus,
   .side-nav li a:active {
        outline:inherit;
        background-color: #fff !important;
    }

}


.panel2{
    background-color: white !important;
    border-radius: 0px !important;
} 

.panel-heading>label, .pan-head
{
    font-size: 21px;
    font-weight:bold;
    
}
.panel-heading{
    padding-top:5px !important;
    padding-bottom:5px !important;
}
.search{
    margin-left: 0px;
    margin-right: 0px;
    border:1px solid;
    border-color: #ddd;
}
.search-box{
    border: 1px solid;
    border-color: #bbb;
    border-radius: 4px;
}
}




/* table css*/
.title-bg{
          background-color: #767377;
          height: 30px;
      }
      
      .title-bg1{
          background-color: #dedede;
      }
      .tab-head{
          width:30%;
          font-size: 16px;
          color: white;
          text-align: left;
          vertical-align: middle !important;
          border: none !important;
      }
      .tab-head-btn{
          cursor:pointer;
          float:right;
          min-height: 45px;
          padding-left: 2%;
          font-size: 14px;
          vertical-align: middle !important;
          border: none !important;
          padding-top: 10px;
          
      }
.tab-head-btn>a{
          text-decoration: none !important;
          color: white !important;
      }
      
    
}
      .tab2-head{
          text-align: center;
      }
              

/* create  project */

.pd{
    padding:10px;
}
label{
    font-weight: normal;
}


/* my team vertical page  */

.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#369;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}


/* popup css  */


@media screen and (min-width: 768px) {
	
	/*#resource .modal-dialog  {width:800px;}*/

}
.modal-header-bg {
	color:#fff;
    font:bold;
    background-color: #fb8512;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.model_head{
    padding:8px !important;
    font-size:15px !important;
}

.model-style{
    left:0px !important;
}


.pagination
{
    margin: 5px 0 !important;
}


.spanspace
{    
    vertical-align: super;
    width: 10% !important;
    padding-left: 5px !important;
    margin-top: 10px !important;
    font-size:13px !important;
    padding-right: 3px !important;

}
.pagination_btn{
     margin-top: 5px !important;
}
.pagination-text{
    margin-top:5px;
    width:15%;
    border-radius:3px;
    border-color:#ddd !important;
    border:1px solid;
}
.pagination-rows{
     margin-top:13px;
    border-radius:3px;
    border-color:#ddd !important;
    border:1px solid;

}
.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    color: #ddd !important;
}

.wrap{
    font-size:14px;  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 17px;     /* fallback */
   max-height: 20px;      /* fallback */
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}

/* font bold*/
.label-bold{
    font-weight:bold;
}
.cursor{
    cursor:pointer !important;
}


/* css for ng-cloak added  by prasad*/

   [ng\: cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x- ng-cloak {
      display: none !important;
    }


   /*css for search bar*/



    .ui-select-bootstrap .ui-select-match-text > span { display: block; max-width:430px !important; text-overflow: ellipsis; overflow: hidden; }
   /* css for ui grid*/
 
     .grid {
max-height:400px !important;
 height:330px !important;
  /*margin-bottom:20px;*/
}
 .my-grid .ui-grid-filter-container { display: none!important; }
 .my-grid .ui-grid-cell
 {
     border-right:0px;
 }

  .my-grids .ui-grid-filter-container { display: none!important; }
 .my-grids .ui-grid-cell
 {
     border-right:0px;
 }
 .my-grids .ui-grid-header-cell
 {
     border-right:0px;
         padding-top: 20px !important;
 }

  .my-grids .ui-grid-top-panel
 {
         background: white !important;
         color:#666666 !important;
 }
  #grid3{

         border: 0px !important;
             
  }

  .my-grids .ui-grid-column-menu-button
  {
      padding-top:15px; 
  }
  .my-grids .ui-grid-row
  {
          height: 50px !important;
              border-bottom: 1px solid !important;
    border-width: thin !important;
    border-bottom-color: #CACACA !important;
  }
  .my-grids .ui-grid-cell-contents
  {
      padding-top:0px !important;
  }
  .my-grids .ui-grid-cell
  {
      height:40px !important;
  }
   .my-grids .ui-grid-row:nth-child(odd) .ui-grid-cell
 {
     background-color:white;
     padding-top: 15px;
 }
 .my-grids .ui-grid-row:nth-child(even) .ui-grid-cell
 {
     background-color:white;
     padding-top: 15px;
 }
.my-custom-menu {
  position: absolute;
}
 .ui-grid-header-canvas
 {
     min-height:60px !important;
 }
 .ui-grid-header-cell-row
 {
     height:60px !important;
 }
.my-custom-menu .ui-grid-menu {
  padding: 0px;
}
 
.my-custom-menu .ui-grid-menu-inner {
  -webkit-box-shadow: none;
  box-shadow: none;
}
 
.rotated {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.gridNoBorder { border-right:0px!important; }